<header>
    <div class="new">
        <nav>
            <a href="/team-stats/new">Add a New Player</a>
        </nav>
    </div>
    <div class=headerM>
        <a href="/">
            <h1> Team Stats</h1>
        </a>
    </div>
    <div>
        <nav class="links">
            <ol>
                <li id=blocks>
                    <a href="/team-stats/blocks">Team Blocks</a>
                </li>
                <li id=scores>
                    <a href="/team-stats/scores">Team Scores</a>
                </li>
                <li id=turns>
                    <a href="/team-stats/turns">Team Turn Overs</a>
                </li>

            </ol>
        </nav>
    </div>
</header>