<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>
    <div class="parent">
    <%- include('./partials/header.ejs') %> 
    <div class="div2">
        <h2>404 Error</h2>
    </div>
    </div>
</body>
</html>