<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/header.ejs') %> 

    <h2>New Player</h2>
    <form action="/team-stats" method="POST">
        Name: <input type="text" name="name" /><br />
        Assists: <input type="number" name="assists" /> <br />
        Goals: <input type="number" name="goals" /> <br />
        Blocks: <input type="number" name="blocks" /> <br />
        Drops: <input type="number" name="drops" /> <br />
        Throw Aways: <input type="number" name="throwAways" /> <br />
        <input type="submit" name="" value="Add Player" />
    </form>
</body>
</html>